In [62]:
import numpy as np
import pandas as pd

In [174]:
rating=pd.read_csv('BX-Book-Ratings.csv',sep=';',encoding= 'latin-1')

In [175]:
rating.sample(10)

         User-ID        ISBN  Book-Rating
103412     23872  0671568175            9
4792      278418  0307122999            0
106984     24590  0385484518            0
522594    126726  0451527623            0
304929     72999  3423128305            0
1080203   258323  0399144463            4
711079    172512  0449219364            9
848809    205171  0553571885            0
465591    111035  0971880107            0
520284    125918  037322625X            0

In [176]:
rating.rename(columns={"User-ID":"user_id","Book-Rating":"rating"},inplace=True)

In [177]:
rating.isnull().sum()

user_id    0
ISBN       0
rating     0
dtype: int64

In [67]:
user=pd.read_csv('BX-Users.csv',sep=';',encoding='latin-1')

In [68]:
user.shape

(278858, 3)

In [69]:
user.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [82]:
# remane the features  name
user.rename(columns={"User-ID":'user_id',
                      'Location':'location',
                     "Age":'age'},inplace=True)

In [ ]:
#df_books=pd.read_csv('BX-Books.csv',sep=';',encoding= 'latin-1')
books = pd.read_csv('BX-Books.csv', sep=";", encoding='latin-1')

In [71]:
def preprocess_file(input_file, output_file):
    with open(input_file, 'r', encoding='latin-1') as infile, open(output_file, 'w', encoding='latin-1') as outfile:
        for line in infile:
            if len(line.split(';')) == 8:  # Adjust this condition as needed
                outfile.write(line)

# Preprocess the file
preprocess_file('BX-Books.csv', 'BX-Books-processed.csv')

# Now read the preprocessed file
book = pd.read_csv('BX-Books-processed.csv', sep=";", encoding='latin-1')

# Display the DataFrame

/var/folders/6p/9khs7h5x0ddbcntcj4d0mgfw0000gn/T/ipykernel_16395/3652799778.py:11: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  book = pd.read_csv('BX-Books-processed.csv', sep=";", encoding='latin-1')

In [72]:
book.shape

(250012, 8)

In [73]:
book.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [74]:
book.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [75]:
book=book[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-L']]

In [76]:
book.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...

In [79]:
#rename the features name
book.rename(columns={"Book-Title":"title",
                     "Book-Author":"author",
                    "Year-Of-Publication":"year",
                    "Publisher":"publisher",
                    "Image-URL-L":"image_url"},inplace=True)

In [80]:
book.head(2)

,ISBN,title,author,year,publisher,image_url
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...

In [178]:
#the shape of three dataframe
print(book.shape, user.shape, rating.shape, sep='\n')

(250012, 6)
(278858, 3)
(1149780, 3)

In [104]:
rating.duplicated().sum()

0

In [179]:
rating['user_id'].unique().shape

(105283,)

In [180]:
# Lets store users who had at least rated more than 200 books
x=rating['user_id'].value_counts()>200

In [184]:
x[x].index

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
       260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727, 268622,
       188951],
      dtype='int64', name='user_id', length=899)

rating = rating[rating['user_id'].isin(x[x].index)]

In [190]:
rating.shape

(1149780, 3)

In [191]:
# Now join ratings with books

ratings_with_books = rating.merge(book, on='ISBN')

In [192]:
ratings_with_books.shape

(977596, 8)

In [200]:
ratings_with_books.head(10)

,user_id,ISBN,rating,title,author,year,publisher,image_url
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...
1,276726,0155061224,5,Rites of Passage,Judith Rae,2001,Heinle,http://images.amazon.com/images/P/0155061224.0...
2,276727,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...
3,276729,052165615X,3,Help!: Level 1,Philip Prowse,1999,Cambridge University Press,http://images.amazon.com/images/P/052165615X.0...
4,276729,0521795028,6,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001,Cambridge University Press,http://images.amazon.com/images/P/0521795028.0...
5,276733,2080674722,0,Les Particules Elementaires,Michel Houellebecq,1998,Flammarion,http://images.amazon.com/images/P/2080674722.0...
6,276744,038550120X,7,A Painted House,JOHN GRISHAM,2001,Doubleday,http://images.amazon.com/images/P/038550120X.0...
7,276746,0425115801,0,Lightning,Dean R. Koontz,1996,Berkley Publishing Group,http://images.amazon.com/images/P/0425115801.0...
8,276746,0449006522,0,Manhattan Hunt Club,JOHN SAUL,2002,Ballantine Books,http://images.amazon.com/images/P/0449006522.0...
9,276746,0553561618,0,Dark Paradise,TAMI HOAG,1994,Bantam,http://images.amazon.com/images/P/0553561618.0...

In [201]:
number_rating = ratings_with_books.groupby('title')['rating'].count().reset_index()

In [195]:
number_rating

                                                    title  rating
0        A Light in the Storm: The Civil War Diary of ...       4
1                                   Always Have Popsicles       1
2                    Apple Magic (The Collector's series)       1
3        Ask Lily (Young Women of Faith: Lily Series, ...       1
4        Beyond IBM: Leadership Marketing and Finance ...       1
...                                                   ...     ...
222099                                      Ã?Â?lpiraten.       2
222100                     Ã?Â?rger mit Produkt X. Roman.       4
222101                                Ã?Â?sterlich leben.       1
222102                              Ã?Â?stlich der Berge.       3
222103                                  Ã?Â?thique en toc       2

[222104 rows x 2 columns]

In [202]:
number_rating.rename(columns={'rating':'num_of_rating'},inplace=True)

In [203]:
final_rating = ratings_with_books.merge(number_rating, on='title')

In [204]:
final_rating.head()

,user_id,ISBN,rating,title,author,year,publisher,image_url,num_of_rating
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,60
1,276726,0155061224,5,Rites of Passage,Judith Rae,2001,Heinle,http://images.amazon.com/images/P/0155061224.0...,12
2,276727,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,650
3,276729,052165615X,3,Help!: Level 1,Philip Prowse,1999,Cambridge University Press,http://images.amazon.com/images/P/052165615X.0...,1
4,276729,0521795028,6,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001,Cambridge University Press,http://images.amazon.com/images/P/0521795028.0...,1

In [205]:

final_rating.shape

(977596, 9)

In [206]:
# Lets take those books which got at least 50 rating of user

final_rating = final_rating[final_rating['num_of_rating'] >= 50]

In [207]:
final_rating.shape

(279506, 9)

In [219]:
final_rating.drop_duplicates(['user_id','title'],inplace=True)

## Create pivot table

In [227]:
# Lets create a pivot table
book_pivot = final_rating.pivot_table(columns='user_id', index='title', values= 'rating')

In [278]:
book_pivot

user_id,8,9,14,16,17,19,23,26,32,39,...,278820,278824,278828,278832,278836,278843,278844,278846,278851,278854
title,,,,,,,,,,,,,,,,,,,,,
10 Lb. Penalty,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16 Lighthouse Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1984,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2010: Odyssey Two,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Young Wives,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
stardust,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [229]:
book_pivot.shape

(2363, 47148)

In [239]:
book_pivot.isnull().sum()

user_id
8         2361
9         2361
14        2362
16        2361
17        2360
          ...
278843    2339
278844    2362
278846    2362
278851    2361
278854    2359
Length: 47148, dtype: int64

In [240]:
book_pivot.fillna(0, inplace=True)

In [241]:
book_pivot.shape

(2363, 47148)

In [242]:
book_pivot.isnull().sum()

user_id
8         0
9         0
14        0
16        0
17        0
         ..
278843    0
278844    0
278846    0
278851    0
278854    0
Length: 47148, dtype: int64

In [243]:
from scipy.sparse import csr_matrix

In [244]:
book_sparse = csr_matrix(book_pivot)

In [245]:
# Now import our clustering algoritm which is Nearest Neighbors this is an unsupervised ml algo
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm= 'brute')

In [246]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [247]:
NearestNeighbors(algorithm='brute')

NearestNeighbors(algorithm='brute')

In [248]:
distance, suggestion = model.kneighbors(book_pivot.iloc[237,:].values.reshape(1,-1), n_neighbors=6 )

In [249]:
distance

array([[ 0.        , 34.45286635, 34.68429039, 35.76310948, 36.02776707,
        36.04164258]])

In [250]:
suggestion

array([[ 237,  745,   61,   93, 1519, 1037]])

In [253]:
book_pivot.iloc[241,:]

user_id
8         0.0
9         0.0
14        0.0
16        0.0
17        0.0
         ...
278843    0.0
278844    0.0
278846    0.0
278851    0.0
278854    0.0
Name: Birthright, Length: 47148, dtype: float64

In [254]:
for i in range(len(suggestion)):
    print(book_pivot.index[suggestion[i]])

Index(['Bio-Strike (Tom Clancy's Power Plays (Paperback))',
       'Ground Zero and Beyond', 'A Secret Affair', 'About Face', 'Ssn',
       'Man From St Petersburg'],
      dtype='object', name='title')

In [255]:
book_pivot.index[3]

'1st to Die: A Novel'

In [256]:
#keeping books name
book_names = book_pivot.index

In [257]:
book_names[2]

'1984'

In [258]:
np.where(book_pivot.index == '4 Blondes')[0][0]

10

In [259]:
# final_rating['title'].value_counts()
ids = np.where(final_rating['title'] == "Harry Potter and the Chamber of Secrets (Book 2)")[0][0]

In [260]:
final_rating.iloc[ids]['image_url']

'http://images.amazon.com/images/P/0439064864.01.LZZZZZZZ.jpg'

In [261]:
book_name = []
for book_id in suggestion:
    book_name.append(book_pivot.index[book_id])

In [262]:
book_name[0]

Index(['Bio-Strike (Tom Clancy's Power Plays (Paperback))',
       'Ground Zero and Beyond', 'A Secret Affair', 'About Face', 'Ssn',
       'Man From St Petersburg'],
      dtype='object', name='title')

In [263]:
ids_index = []
for name in book_name[0]: 
    ids = np.where(final_rating['title'] == name)[0][0]
    ids_index.append(ids)

In [264]:
for idx in ids_index:
    url = final_rating.iloc[idx]['image_url']
    print(url)

http://images.amazon.com/images/P/0425177351.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/1401088945.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0061012289.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0821770209.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0425173534.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0451124383.01.LZZZZZZZ.jpg

In [265]:
import pickle
pickle.dump(model,open('artifacts/model.pkl','wb'))
pickle.dump(book_names,open('artifacts/book_names.pkl','wb'))
pickle.dump(final_rating,open('artifacts/final_rating.pkl','wb'))
pickle.dump(book_pivot,open('artifacts/book_pivot.pkl','wb'))

## Testing model

In [266]:
def recommend_book(book_name):
    book_id = np.where(book_pivot.index == book_name)[0][0]
    distance, suggestion = model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1), n_neighbors=6 )
    
    for i in range(len(suggestion)):
            books = book_pivot.index[suggestion[i]]
            for j in books:
                if j == book_name:
                    print(f"You searched '{book_name}'\n")
                    print("The suggestion books are: \n")
                else:
                    print(j)

In [267]:
book_name = "Harry Potter and the Chamber of Secrets (Book 2)"
recommend_book(book_name)

You searched 'Harry Potter and the Chamber of Secrets (Book 2)'

The suggestion books are:

Harry Potter and the Goblet of Fire (Book 4)
Harry Potter and the Prisoner of Azkaban (Book 3)
Harry Potter and the Sorcerer's Stone (Book 1)
All I Need Is You
Lucky's Lady